# TYPES OF ANALYTICS

In [ ]:
# Descriptive - what happend in past
# Diagnostic - why happend
# Predictive - what will happen in future
# Prescriplitive - Actions to perform

# PYTHON -----

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello")

Hello

In [3]:
Print("Hello")   #Python is case sensitive

NameError: name 'Print' is not defined

In [4]:
print(hello) #string is written inside inverted comma

NameError: name 'hello' is not defined

# Data Type

In [5]:
x=10       #integer data type-- numbers wuthout decimal points
type(x)

int

In [6]:
x=10.5   #float data type--- numbers with decimal points
type(x)

float

In [7]:
x='hello'   #string data type--always written inside inverted comma
type(x)

str

In [8]:
x=True     # boolean data type ---- true and false is boolean data type
type(x)

bool

In [9]:
x="hello"
type(x)

str

In [10]:
x=hello
type(x) #string must be enclosed in inverted commas

NameError: name 'hello' is not defined

# Shortcut Keys

In [ ]:
### Run a cell  -> Shift + Enter
### Enter a cell above -> a
### enter a cell below -> b
### Delete a cell -> x or press d twice
### Headings  ->m

# List

In [11]:
sample_list=[1,2,3,4,5,'hi',True,110.7]
sample_list

[1, 2, 3, 4, 5, 'hi', True, 110.7]

In [ ]:
# List is heterogenous =- it allows multiple datatypes

# Indexing in List

In [12]:
sample_list[0]

1

In [14]:
sample_list[5]

'hi'

In [13]:
sample_list[10]  #index out of range

IndexError: list index out of range

In [ ]:
#Index starts from 0

In [15]:
sample_list[0]=100
sample_list

[100, 2, 3, 4, 5, 'hi', True, 110.7]

In [ ]:
#List is mutable-make changes
#List is written inside square bracket

# Tuple

In [16]:
sample_tuple=1,2,3,4,5,6,21.7,'ji',False
sample_tuple

(1, 2, 3, 4, 5, 6, 21.7, 'ji', False)

In [17]:
type(sample_tuple)

tuple

In [18]:
sample_tuple=(1,2,3,4,5,6,21.7,'ji',False)
type(sample_tuple)

tuple

In [ ]:
#Tuple is heterogeneous
#Tuple uses paranthesis or without any brackets

In [19]:
sample_tuple[0]

1

In [20]:
sample_tuple[0]=100   #can't make changes
sample_tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Index in tuple starts from 0
# Tuple is immutable

# Set

In [22]:
sample_set={1,1,2,6,3,10.5,11,111,1000,234,"hi","apple"}
sample_set

{1, 10.5, 1000, 11, 111, 2, 234, 3, 6, 'apple', 'hi'}

In [23]:
type(sample_set)

set

In [24]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [25]:
sample_set[100]

TypeError: 'set' object is not subscriptable

In [27]:
sample_set.add(14)
sample_set

{1, 10.5, 1000, 11, 111, 14, 2, 234, 3, 6, 'apple', 'hi'}

In [28]:
sample_set.remove(14)
sample_set

{1, 10.5, 1000, 11, 111, 2, 234, 3, 6, 'apple', 'hi'}

In [ ]:
# Set is heterogeneous
# Set uses curly brackets
# Set is mutable
# Set elements can't be retrived using index
# In Set no meaning of index
#Set does no allow duplicates
# set is in sotred form
# Set can add or delete element by using -- add or remove command

# Dictionary

In [1]:
sample_dict={"a":"First",1:"Second","a":"Third",6:"Second",5:7}
sample_dict

{'a': 'Third', 1: 'Second', 6: 'Second', 5: 7}

In [2]:
# Dictionary has key-va;ue pair with data structure
# In input of sample_dict, keys- a,1,6,5 and values- First,Second,Third,7
# Key is unique but values can be duplicated

In [3]:
sample_dict[6]

'Second'

In [4]:
sample_dict["Second"]

KeyError: 'Second'

In [5]:
#we can retrieve value using key but not using value

In [6]:
sample_dict[5]=100
sample_dict

{'a': 'Third', 1: 'Second', 6: 'Second', 5: 100}

In [ ]:
#Dictionary is mutable